include vars.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title #{sitetitle}
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="/css/style.css")
        //- if ENV === "development"
        //-     link(rel="stylesheet" href="/css/a11y-en.css")
if INCLUDE_PRISM === "true"
    <script src="/js/prism.js"></script>
    <style type="text/css">
    include ../../node_modules/prismjs/themes/prism.css
    </style>
