<div class="misc-links-1">
    <ul>
        <li>
            <a href="/" title="Kontakt">Kontaktasdfasfdafdsasdsadda</a>
        </li>
        <li>
            <a href="/" title="Datenschutz">Datenschutz</a>
        </li>
        <li>
            <a href="/" title="Impressum">Impressum</a>
        </li>
    </ul>
</div>