:htmling
<div class="top">
    <div class="top__menu">
        <a href="" class="top-menu__link">
include ../icon/bars--light.svg
:htmling
            <span>Menu</span>
        </a>
    </div>
    <div class="misc">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/test.html">Test</a>
            </li>
        </ul>
    </div>
    <ul class="top__social">
        <li>
            <a href="" class="top-social__link">
                <span class="visually-hidden">Twitter</span>
include ../icon/twitter-square.svg
:htmling
            </a>
        </li>
        <li>
            <a href="" class="top-social__link">
                <span class="visually-hidden">Facebook</span>
include ../icon/facebook-square.svg
:htmling
            </a>
        </li>
    </ul>
</div>