body {
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01s !important;
      scroll-behavior: auto !important;
      transition-duration: 0.01s !important;
    }
  }
}
