:root {
  --color-brightest: #{$color-brightest};
  --color-darkest: #{$color-darkest};
  --color-font-base: #{$color-font-base};
  --color-font-base--inverted: #{$color-font-base--inverted};
  --color-background-base: #{$color-background-base};
  --color-background-base--inverted: #{$color-background-base--inverted};
  --font-size: calc(2 * var(--master-scale));
  --line-height: calc(2.75 * var(--master-scale));
  --animation-timing--default: 350ms;
  --master-scale: #{$master-scale}px;
  --spacing-scale: #{$spacing-scale}px;
}

html {
  @include fontface__light;
}

body,
button {
  font-size: var(--font-size);
}

img {
  max-width: 100%;
}

%#{$ns}font-size--xs {
  font-size: 80%;
  line-height: calc(var(--line-height) / 1.5);
}

@function ms($val) {
  $result: calc(var(--master-scale) * #{$val});
  @return $result;
}

@function ss($val) {
  $result: calc(var(--spacing-scale) * #{$val});
  @return $result;
}

@function get-color($colorscheme, $key) {
  @return map-get($colorscheme, $key);
}

%#{$ns}p--basic {
  margin-bottom: ss(1);
}

%#{$ns}ul-ol--basic {
  margin-bottom: ms(1);
  li {
    margin-bottom: ss(0.5);
  }
  li:last-of-type {
    margin-bottom: 0;
  }
}
