.#{$ns}visually-hidden {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.#{$ns}nowrap {
  white-space: pre;
}

@mixin set-icon-dimensions($multiplicator) {
  height: calc(var(--master-scale) * #{$multiplicator});
  width: calc(var(--master-scale) * #{$multiplicator});
}

.#{$ns}item-with-icon {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: left;
}