%#{$ns}layout-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

%#{$ns}layout-container--wrap {
  flex-wrap: wrap;
}


%#{$ns}layout__block {
  width: 100%;
}

%#{$ns}layout__block--50 {
  @media (min-width: 768px) {
    width: 50%;
  }
}

%#{$ns}layout__block--66 {
  @media (min-width: 768px) {
    width: 66.66%;
  }
}

%#{$ns}layout__block--33 {
  @media (min-width: 768px) {
    width: 33.33%;
  }
}

%#{$ns}layout__block--20 {
  @media (min-width: 768px) {
    width: 20%;
  }
}

%#{$ns}layout__block--80 {
  @media (min-width: 768px) {
    width: 80%;
  }
}