html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  border: none;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

dfn {
  font-style: normal;
}

button {
  background-color: transparent;
}
