%#{$ns}demo__body {
  margin-top: ss(5);
  p {
    @extend %#{$ns}content-p;
    width: 100%;
  }
  ul {
    margin-bottom: ss(1);
    margin-left: ss(1);
    li {
      list-style-type: none;
      &:not(:last-of-type) {
        margin-bottom: ss(0.5);
      }
    }
  }
  h1 {
    @extend %#{$ns}heading-style--1;
    width: 100%;
  }
  h2 {
    @extend %#{$ns}heading-style--2;
    width: 100%;
  }
  h3 {
    @extend %#{$ns}heading-style--3;
    width: 100%;
  }
  h4,
  .#{$ns}demo__headings-style-4 {
    @extend %#{$ns}heading-style--4;
    width: 100%;
  }
}

.#{$ns}demo__container {
  @extend %#{$ns}layout-container;
  flex-wrap: wrap;
}

.#{$ns}demo__content {
  @extend %#{$ns}content;
}

.#{$ns}demo__info {
  width: 100%;
}

.#{$ns}demo__block--50 {
  @extend %#{$ns}layout__block;
  @extend %#{$ns}layout__block--50;
  border: ss(1) solid white;
}

.#{$ns}demo__example {
  align-items: center;
  background-image: url("/img/chess-background.svg");
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  min-height: ms(20);
}