.#{$ns}page__buttons {
  @extend %#{$ns}demo__body;
}



.#{$ns}buttons__button-ghost-to-filled {
  @extend %#{$ns}button--base;
  @extend %#{$ns}button--ghost-to-filled;
  @extend %#{$ns}button--size-l;
  @extend %#{$ns}button--uppercase;
}



.#{$ns}buttons__button-invisible-to-ghost {
  @extend %#{$ns}button--base;
  @extend %#{$ns}button--invisible-to-ghost;
  @extend %#{$ns}button--size-s;
  @extend %#{$ns}button--uppercase;
  @extend %#{$ns}button--bold;
  @extend %#{$ns}button--big-border;
}



$color-scheme-button--delete: (
  "font-before": #{$color-darkest},
  "font-after": #{$color-brightest},
  "body-before": #{$color-brightest},
  "body-after": red,
  "border-before": #{$color-darkest},
  "border-after": red,
  "icon-before": red,
  "icon-after": #{$color-brightest}
);

.#{$ns}buttons__button-delete {
  @extend %#{$ns}button--base;
  @include fet-button-colorscheme($color-scheme-button--delete);
  @extend %#{$ns}button--size-l;
  @extend %#{$ns}button--uppercase;
  @extend %#{$ns}button--bold;
  @extend %#{$ns}button--big-border;
}



.#{$ns}buttons__button-undo {
  @extend %#{$ns}button--base;
  @extend %#{$ns}button--invisible-to-ghost;
  @extend %#{$ns}button--size-m;
}