.#{$ns}test-container {
  @extend %#{$ns}layout-container;
  flex-wrap: wrap;
}

.#{$ns}test__block--left {
  @extend %#{$ns}layout__block;
  @extend %#{$ns}layout__block--66;
}

.#{$ns}test__block--right {
  @extend %#{$ns}layout__block;
  @extend %#{$ns}layout__block--33;
  form {
    padding: 0 ms(1);
  }
}

.#{$ns}test__content {
  @extend %#{$ns}content;
}

.#{$ns}test__heading-1 {
  @extend %#{$ns}heading-style--1;
  width: 100%;
}

.#{$ns}test__heading-2 {
  @extend %#{$ns}heading-style--2;
  width: 100%;
}

.#{$ns}test__heading-3 {
  @extend %#{$ns}heading-style--3;
  width: 100%;
}

.#{$ns}test__heading-4 {
  @extend %#{$ns}heading-style--4;
  width: 100%;
}

.#{$ns}test__example {
  align-items: center;
  background-image: url("/img/chess-background.svg");
  background-repeat: repeat;
  border: ss(1) solid white;
  display: flex;
  justify-content: center;
  min-height: ms(20);
}

.#{$ns}test-block--50 {
  @extend %#{$ns}layout__block;
  @extend %#{$ns}layout__block--50;
}

.#{$ns}test__button-ghost-to-invisible {
  @extend %#{$ns}button--base;
  @extend %#{$ns}button--size-l;
  @extend %#{$ns}button--ghost;
  @extend %#{$ns}button--to-invisible;
}

.#{$ns}test__button-ghost-to-filled {
  @extend %#{$ns}button--base;
  @extend %#{$ns}button--size-m;
  @extend %#{$ns}button--ghost;
  @extend %#{$ns}button--to-filled;
}

.#{$ns}test__button-filled-to-ghost {
  @extend %#{$ns}button--base;
  @extend %#{$ns}button--size-m;
  @extend %#{$ns}button--filled;
  @extend %#{$ns}button--to-ghost;
}

.#{$ns}test__button-invisible-to-filled {
  @extend %#{$ns}button--base;
  @extend %#{$ns}button--size-m;
  @extend %#{$ns}button--invisible;
  @extend %#{$ns}button--to-filled;
}

.#{$ns}test__info {
  @extend %#{$ns}content-p;
  width: 100%;
}