%#{$ns}content {
  line-height: var(--line-height);

  ul,
  ol {
    @extend .#{$ns}content-list;
  }
  blockquote {
    @extend .#{$ns}content-blockquote;
  }
  p {
    @extend %#{$ns}content-p;
  }
  a {
    @extend .#{$ns}link;
  }
}

.#{$ns}content-list {
  @extend %#{$ns}ul-ol--basic;
  margin-left: ms(3);
  padding: 0 ms(1);
}

.#{$ns}content-blockquote {
  margin-bottom: ms(1);
  margin-left: ms(1);
  padding: 0 ms(1);
}

%#{$ns}content-p {
  @extend %#{$ns}p--basic;
  padding: 0 ms(1);
}

.#{$ns}content-heading-style--1 {
  @extend %#{$ns}heading-style--1;
}

.#{$ns}content-heading-style--2 {
  @extend %#{$ns}heading-style--2;
}

.#{$ns}content-heading-style--3 {
  @extend %#{$ns}heading-style--3;
}

.#{$ns}content-heading-style--4 {
  @extend %#{$ns}heading-style--4;
}

.#{$ns}content__address {
  // TODO: set correct font-style
  font-style: normal;
  line-height: calc(var(--line-height) * 1.25);
  margin-bottom: ms(1);
  padding: 0 ms(1);
}

.#{$ns}content__address--indent {
  margin-left: ms(1);
}

.#{$ns}content__abbr {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.#{$ns}content__icon--right {
  margin-left: ms(0.5);
}

.#{$ns}content__icon--left {
  margin-right: ms(0.5);
}

.#{$ns}content__image-wrap {
  margin-bottom: ms(1);
}

.#{$ns}content__image-wrap--flow {
  padding: 0 ms(1);
}
