$goldenlayout-breakpoint--m: 600px;
$goldenlayout-breakpoint--l: 1060px;

.#{$ns}goldenlayout__nav {
  @extend %#{$ns}layout-container;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: ss(3);
  padding: ss(1) ss(1) 0;
  @media (min-width: $goldenlayout-breakpoint--l) {
    align-items: center;
    flex-direction: row-reverse;
  }
  form {
    display: flex;
    select {
      font-size: 120%;
    }
  }
}

.#{$ns}goldenlayout-nav__items {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: ss(2);
  li:not(:last-of-type) {
    margin-bottom: ss(1);
  }
  @media (min-width: $goldenlayout-breakpoint--m) {
    flex-direction: row;
    justify-content: center;
    margin-bottom: ss(2);
    li:not(:last-of-type) {
      margin-bottom: 0;
      margin-right: ss(1);
    }
  }
  @media (min-width: $goldenlayout-breakpoint--l) {
    margin-bottom: ss(0);
  }
}

.#{$ns}goldenlayout-nav-item {
  @extend %#{$ns}button--base;
  @extend %#{$ns}button--size-m;
  @extend %#{$ns}button--ghost-to-filled;
  @extend %#{$ns}button--uppercase;
  justify-content: center;
  width: 100%;
  svg {
    @include set-icon-dimensions(2.2);
    margin-right: 2px;
  }
  @media (min-width: $goldenlayout-breakpoint--l) {
    justify-content: auto;
    width: auto;
  }
}

.#{$ns}goldenlayout__nav-arrows {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  .form__input,
  button:not(:last-of-type) {
    margin-bottom: ss(1);
  }
  .form__input {
    width: 100%;
  }
  .form-input__field-text {
    width: 100%;
  }
  @media (min-width: $goldenlayout-breakpoint--m) {
    flex-direction: row;
    justify-content: center;
    margin-bottom: ss(0);
    .form-input__field-text {
      width: 100px;
    }
    .form__input,
    button:not(:last-of-type) {
      margin-bottom: ss(0);
      margin-right: ss(1);
    }
  }
}

.#{$ns}goldenlayout__nav-arrow {
  @extend %#{$ns}button--base;
  @extend %#{$ns}button--size-m;
  @extend %#{$ns}button--filled-to-ghost;
  @extend %#{$ns}button--uppercase;
  justify-content: center;
  @media (min-width: $goldenlayout-breakpoint--m) {
    width: 175px;
  }
}

.#{$ns}goldenlayout-reset {
  @extend %#{$ns}button--base;
  @extend %#{$ns}button--size-m;
  @extend %#{$ns}button--invisible-to-ghost;
  width: 100%;
  @media (min-width: 768px) {
    justify-content: auto;
    width: auto;
  }
}


.#{$ns}goldenlayout__info {
  @extend %#{$ns}layout-container;
  padding-top: ss(1.5);
  div {
    @extend %#{$ns}heading-style--3;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
}

// -------------------------------------------------------------------------- //

.lm_goldenlayout {
  background: none;
}

.lm_dragProxy .lm_content {
  box-sizing: border-box;
}

.lm_dropTargetIndicator {
  margin: 1px;
  outline: 1px dashed #cccccc;
  transition: all 200ms ease;

  .lm_inner {
    background: #757575;
  }

}

.lm_splitter {

  &:active,
  &:focus,
  &:hover {
    background: #6b6b6b;
  }

  &.lm_dragging {
    background: #6b6b6b;
  }

  &.lm_vertical {
    height: 5px !important;
  }
  
  &.lm_horizontal {
    height: calc(100% - 35px);
    top: 35px !important;
    width: 5px !important;
  }
}

.lm_header {
  align-items: center;
  border-bottom: 1px solid #bbbbbb;
  display: flex;
  flex-direction: row;
  height: 36px !important;

  &.lm_selectable {
    cursor:pointer;
  }

  .lm_tab {
    border: 1px solid #bbbbbb;
    color: #a5a5a5;
    height:34px;
    margin-right: 8px;
    padding: 0 32px 0 12px;

    .lm_title {
      @extend %#{$ns}heading-font--base;
      @extend %#{$ns}heading-font--3;
    }

    .lm_close_tab {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAIklEQVR4nGNgYGD4z4Ad/Mdg4ODDBXCZRFgCp5EEHQMXBwAQAgz0SVCcggAAAABJRU5ErkJggg==);
      background-position: center center;
      background-repeat: no-repeat;
      height: 33px;
      width: 33px;
    }

    &.lm_active {
      background-color: var(--color-background-base);
      border-bottom: none;
      color: var(--color-font-base);
    }

  }
}

.lm_selected .lm_header {
  background-color: #452500;
}

.lm_item_container {
  border-bottom: none;
  border-color: #bbbbbb;
  border-right: none;
  border-style: solid;
  border-top: none;
  border-width: 1px;
}

.lm_items {
  border-right: 1px solid #bbbbbb;
}

.lm_controls {

  display: none;

  & > li {
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
  }

  .lm_popout {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAANUlEQVR4nI2QMQoAMAwCz5L/f9mOzZIaN0E9UDyZhaaQz6atgBHgambEJ5wBKoS0WaIvfT+6K2MIECN19MAAAAAASUVORK5CYII=);
  }

  .lm_maximise {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAIklEQVR4nGNkYGD4z0AAMBFSAAOETPpPlEmDUREjAxHhBABPvAQLFv3qngAAAABJRU5ErkJggg==);
  }

  .lm_close {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVR4nGNgYGD4z4Af/Mdg4FKASwCnDf8JKSBoAtEmEXQTQd8RDCcA6+4Q8OvIgasAAAAASUVORK5CYII=);
  }

}

.lm_header .lm_controls {

  & > li {
    height: 33px;
    width: 33px;
  }

  .lm_tabdropdown:before {
    color: #000000;
  }

}

.lm_maximised {

  .lm_header {
    background-color: #ffffff;
  }

  .lm_controls .lm_maximise {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAJklEQVR4nGP8//8/AyHARFDFUFbEwsDAwMDIyIgzHP7//89IlEkApSkHEScJTKoAAAAASUVORK5CYII=);
  }

}

.lm_item .lm_stack {
  border-bottom: 1px solid #bbbbbb;
  top: -36px;
}

.lm_transition_indicator {
  background-color: #000000;
  border:1px dashed  #555555;
}

.lm_popin {
  cursor: pointer;

  .lm_icon {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAAWklEQVR4nJWOyw3AIAxDHcQC7L8jbwT3AlJBfNp3SiI7dtRaLSlKKeoA1oEsKSQZCEluexw8Tm3ohk+E7bnOUHUGcNh+HwbBygw4AZ7FN/Lt84p0l+yTflV8AKQyLdcCRJi/AAAAAElFTkSuQmCC);
    background-position: center center;
    background-repeat: no-repeat;
  }

  .lm_bg {
    background: #000000;
  }

}

.goldenlayout-text {
  padding: ms(1);
  a {
    color: black;
  }
  .abbr {

  }
  .choice {

  }
  .closer {
    
  }
  div {
    
  }
  .date {

  }
  .dateline {

  }
  .expan {

  }
  .italic {
    
  }
  .label {

  }
  .note-comment {
    
  }
  .object {

  }
  .org {

  }
  p {
    
  }
  .p {

  }
  .page-beginning {
    
  }
  .person {

  }
  .place {

  }
  .salute {

  }
  .signed {

  }
  .seg {
    display: block;
  }
  .unknown-element {
    
  }
}