.#{$ns}logo-block-1 {
  @extend %#{$ns}layout-container;
  display: flex;
  flex-direction: column;
  padding: 0 ms(1);
  li {
    list-style-type: none;
  }
  @media (min-width: 500px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.#{$ns}logo-block-1--center-logos {
  justify-content: center;
}

.#{$ns}logo-block-1__logo-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  @media (min-width: 500px) {
    width: 50%;
  }
  @media (min-width: 550px) {
    width: 33%;
  }
  @media (min-width: 900px) {
    width: 25%;
  }
  @media (min-width: 1100px) {
    width: 20%;
  }
}

.#{$ns}logo-block-1__logo {
  display: flex;
  height: 100%;
  justify-content: center;
  padding: ms(1.25);
  width: 100%;
  img {
    display: inline;
    max-height: 35px;
    max-width: 220px;
    width: 100%;
    @media (min-width: 500px) {
      max-height: 50px;
    }
    @media (min-width: 769px) {
      max-height: 60px;
    }
  }
}