.#{$ns}misc-links-1 {
  @extend %#{$ns}layout-container;
  display: flex;
  flex-direction: row;
  justify-content: center;

  ul {
    @extend %#{$ns}layout__block;
    text-align: center;
  }

  li {
    list-style-type: none;
    text-align: center;
    @media (min-width: 768px) {
      display: inline-block;
      &:not(:last-of-type) {
        margin-right: ms(1);
      }
    }
  }

  a {
    @extend %#{$ns}button--base;
    @extend %#{$ns}button--size-m;
    @extend %#{$ns}button--invisible;
    justify-content: center;
    letter-spacing: 0.1rem;
    padding: ms(0.25) ms(0.5);
    word-break: break-word;
  }

}
