.#{$ns}objectlist-1 {
  width: 100%;
}

.#{$ns}objectlist-1__item {
  @extend %#{$ns}layout-container;
  @extend %#{$ns}layout-container--wrap;
  margin-bottom: ms(0.5);
}

.#{$ns}objectlist-1__heading {
  @extend %#{$ns}layout__block;
  @extend %#{$ns}heading-style--4;
}

.#{$ns}objectlist-1__label {
  @extend %#{$ns}layout__block;
  @extend %#{$ns}layout__block--20;
  @include fontface__normal;
  margin-bottom: ms(0.5);
  padding: 0 ms(1);
  @media (min-width: 768px) {
    text-align: right;
  }
}

.#{$ns}objectlist-1__descr {
  @extend %#{$ns}layout__block;
  @extend %#{$ns}layout__block--80;
  margin-bottom: ms(1);
  padding: 0 ms(1) 0 ss(2);
  @media (min-width: 768px) {
    margin-bottom: ms(0.5);
    padding-left: 0;
  }
}

.#{$ns}objectlist-1--fixed {
  .#{$ns}objectlist-1__label {
    text-align: left !important;
    width: 100% !important;
  }
  .#{$ns}objectlist-1__descr {
    margin-bottom: ms(1) !important;
    padding-left: ss(2) !important;
    width: 100% !important;
  }
}