$sub-viewer-1-breakpoint--m: 600px;
$sub-viewer-1-breakpoint--l: 1060px;


.#{$ns}sub-viewer-1__nav {
  @extend %#{$ns}layout-container;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: ss(3);
  padding: ss(1) ss(1) 0;
  @media (min-width: $goldenlayout-breakpoint--l) {
    align-items: center;
    flex-direction: row-reverse;
  }
  form {
    display: flex;
    select {
      font-size: 120%;
    }
  }
}

.#{$ns}sub-viewer-1-nav__items {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: ss(2);
  li:not(:last-of-type) {
    margin-bottom: ss(1);
  }
  @media (min-width: $goldenlayout-breakpoint--m) {
    flex-direction: row;
    justify-content: center;
    margin-bottom: ss(2);
    li:not(:last-of-type) {
      margin-bottom: 0;
      margin-right: ss(1);
    }
  }
  @media (min-width: $goldenlayout-breakpoint--l) {
    margin-bottom: ss(0);
  }
}

.#{$ns}sub-viewer-1-nav-item {
  @extend %#{$ns}button--base;
  @extend %#{$ns}button--size-m;
  @extend %#{$ns}button--ghost-to-filled;
  @extend %#{$ns}button--uppercase;
  justify-content: center;
  width: 100%;
  svg {
    @include set-icon-dimensions(2.2);
    margin-right: 2px;
  }
  @media (min-width: $goldenlayout-breakpoint--l) {
    justify-content: auto;
    width: auto;
  }
}

.#{$ns}sub-viewer-1__nav-arrows {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  .form__input,
  button:not(:last-of-type) {
    margin-bottom: ss(1);
  }
  .form__input {
    width: 100%;
  }
  .form-input__field-text {
    width: 100%;
  }
  @media (min-width: $goldenlayout-breakpoint--m) {
    flex-direction: row;
    justify-content: center;
    margin-bottom: ss(0);
    .form-input__field-text {
      width: 100px;
    }
    .form__input,
    button:not(:last-of-type) {
      margin-bottom: ss(0);
      margin-right: ss(1);
    }
  }
}

.#{$ns}sub-viewer-1__nav-arrow {
  @extend %#{$ns}button--base;
  @extend %#{$ns}button--size-m;
  @extend %#{$ns}button--filled-to-ghost;
  @extend %#{$ns}button--uppercase;
  justify-content: center;
  @media (min-width: $goldenlayout-breakpoint--m) {
    width: 175px;
  }
  
}

.#{$ns}sub-viewer-1-reset {
  @extend %#{$ns}button--base;
  @extend %#{$ns}button--size-m;
  @extend %#{$ns}button--invisible-to-ghost;
  width: 100%;
  @media (min-width: 768px) {
    justify-content: auto;
    width: auto;
  }
}


.#{$ns}sub-viewer-1__info {
  @extend %#{$ns}layout-container;
  padding-top: ss(1.5);
  div {
    @extend %#{$ns}heading-style--3;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
}

.sub-viewer-1-text {
  padding: ms(1);
  a {
    color: black;
  }
  .abbr {

  }
  .choice {

  }
  .closer {
    
  }
  div {
    
  }
  .date {

  }
  .dateline {

  }
  .expan {

  }
  .italic {
    
  }
  .label {

  }
  .note-comment {
    
  }
  .object {

  }
  .org {

  }
  p {
    
  }
  .p {

  }
  .page-beginning {
    
  }
  .person {

  }
  .place {

  }
  .salute {

  }
  .signed {

  }
  .seg {
    display: block;
  }
  .unknown-element {
    
  }
}