.#{$ns}top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: ms(3) auto;
  max-width: 1200px;
  width: 100%;
}

.#{$ns}top__social {
  display: flex;
  line-height: 0;
  margin: 0;
  li {
    display: inline;
    margin-right: ms(1);
  }
  li:last-of-type {
    margin-right: 0;
  }
}

.#{$ns}top-social__link {
  svg {
    @include set-icon-dimensions(4);
    path:first-of-type {
      fill: transparent;
      transition-duration: var(--animation-timing--default);
      transition-property: fill;
    }
    path:last-of-type {
      fill: var(--color-background-base--inverted);
      transition-duration: var(--animation-timing--default);
      transition-property: fill;
    }
  }
  &:active,
  &:focus,
  &:hover {
    svg {
      path:first-of-type {
        fill: var(--color-background-base--inverted);
        transition-duration: var(--animation-timing--default);
        transition-property: fill;
      }
      path:last-of-type {
        fill: var(--color-background-base);
        transition-duration: var(--animation-timing--default);
        transition-property: fill;
      }
    }
  }
}

.#{$ns}top__misc {
  display: flex;
  li {
    display: inline;
  }
}

.#{$ns}top-menu__link {
  @include fontface__normal;
  align-items: center;
  background-color: var(--color-background-base);
  border-radius: ms(0.25);
  color: var(--color-font-base);
  display: flex;
  flex-direction: row;
  font-size: 120%;
  letter-spacing: 2px;
  padding: ms(0.5) ms(1);
  text-decoration: none;
  text-transform: uppercase;

  &:active,
  &:focus,
  &:hover {
    background-color: var(--color-background-base--inverted);
    color: var(--color-font-base--inverted);
    transition: var(--animation-timing--default);
    .#{$ns}top-menu__icon {
      fill: var(--color-background-base);
      transition: var(--animation-timing--default);
    }
  }
}

.#{$ns}top-menu__icon {
  @include set-icon-dimensions(2);
  margin-bottom: -1px;
  margin-right: ms(1);
}