.#{$ns}tree {
  @extend %#{$ns}layout-container;
  flex-direction: column;
}

.#{$ns}tree__button {
  background-color: transparent;
  svg {
    transition-duration: var(--animation-timing--default);
    transition-property: transform;
  }
  &:Active,
  &:focus,
  &:hover {
    text-decoration: underline;
    svg {
      transform: rotate(90deg);
      transition-duration: var(--animation-timing--default);
      transition-property: transform;
    }
  }
}

.#{$ns}tree__button--active {
  @include fontface__bold;
  svg {
    transform: rotate(90deg);
    transition-duration: var(--animation-timing--default);
    transition-property: transform;
  }
  &:active,
  &:focus,
  &:hover {
    svg {
      transform: rotate(-0deg);
      transition-duration: var(--animation-timing--default);
      transition-property: transform;
    }
  }
}

// ---------------------------------------------------------------------------//

.#{$ns}tree__item-list {
  list-style-type: none;
  margin-left: ss(3.5);
}

.#{$ns}tree__nav-item {
  align-items: center;
  display: flex;
  margin-bottom: ss(0);
}

.#{$ns}tree__nav-item--1 {
  .#{$ns}tree__text {
    @extend %#{$ns}heading-font--4;
  }
  .#{$ns}tree__icon {
    margin-bottom: -1px;
    svg {
      @include set-icon-dimensions(1.66);
    }
  }

}

.#{$ns}tree__nav-item--2 {
  .#{$ns}tree__text {
    @extend %#{$ns}heading-font--4;
  }
  .#{$ns}tree__icon {
    margin-bottom: -1px;
    svg {
      @include set-icon-dimensions(1.66);
    }
  }
}

// ---------------------------------------------------------------------------//

.#{$ns}tree__icon {
  @extend %#{$ns}button--base;
  padding: ss(0.25) ss(0) ss(0.25) ss(0.25);
}

.#{$ns}tree__icon--active {
  &:active,
  &:focus,
  &:hover {
    svg {
      transition-duration: var(--animation-timing--default);
      transition-property: transform;
    }
  }
}

// ---------------------------------------------------------------------------//

.#{$ns}tree__text {
  @extend %#{$ns}button--base;
  line-height: 0;
  padding: ss(0.25);
}

// ---------------------------------------------------------------------------//

.#{$ns}tree-data-item__list {
  list-style-type: none;
  margin-bottom: ss(1);
  li:not(:last-of-type) {
    margin-bottom: ss(0.25);
  }
}

.#{$ns}tree__data-item {
  @extend .#{$ns}item-with-icon;
  padding: ss(0.25) ss(0.5) ss(0) ss(2);
  word-break: break-all;
  svg {
    @include set-icon-dimensions(1.5);
    margin-right: ss(0.5);
  }
  button:not(.#{$ns}tree__data-item--active) {
    &:active,
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.#{$ns}tree__data-item--active {
  @include fontface__bold;
}