- INCLUDE_PRISM = "true"
include ../includes/head.pug
:htmling
    <body class="page__buttons">
        <div class="demo__container">

            <h1>Buttons</h1>

            <h2>General Info</h2>
            <p>Information about sizes, initial and active/focus/hover state, icons, text effects.</p>

            <!-- Sizes -->
            <div class="demo__info">
                <h3>Sizes</h3>
                <p>Buttons come in 3 sizes: S, M and L.</p>
                <ul>
                    <li><code>@extend %#{$ns}button--size-s</code></li>
                    <li><code>@extend %#{$ns}button--size-m</code></li>
                    <li><code>@extend %#{$ns}button--size-l</code></li>
                </ul>
                <p>You have to use one of these options.</p>
            </div>

            <!-- Icons -->
            <div class="demo__info">
                <h3>Icons</h3>
                <p>Icons can be included in buttons just by adding the svg code within the button.</p>
                <p>The position before or after the button text is determined by the flow in the HTML code.</p>
                <p>If an icon is included the button text has to be wrapped in a SPAN tag.</p>
            </div>

            <!-- Modifier -->
            <div class="demo__info">
                <h3>Modifier</h3>
                <p>Three styles are available: Bold and Uppercase</p>
                <ul>
                    <li>Uppercase<br><code>@extend %#{$ns}button--uppercase</code></li>
                    <li>Bold<br><code>@extend %#{$ns}button--bold</code></li>
                    <li>Bigger Border<br><code>@extend %#{$ns}button--big-border</code></li>
                </ul>
            </div>

            <h2>Example Buttons</h2>

            <h3>Ghost to filled</h3>
            <div class="demo__container">
                <p>Size L / With (optional) Icon / Capitalize Text</p>
                <p><code>@extend %#{$ns}button--uppercase</code> to capitalize button text</p>
                <p><code>&lt;/span&gt;</code> around button text is required (if used with icon/SVG)</p>
                <div class="demo__block--50 demo__example">
                    <button class="buttons__button-ghost-to-filled">
                        <span>Example</span>
include ../icon/check-circle--solid.svg
:htmling
                    </button>
                </div>
                <div class="demo__block--50">
                    <h4>SCSS</h4>
                    <pre><code class="language-css">
:escape-html
                            $color-scheme-button--ghost-to-filled: (
                                "font-before": #{$color-darkest},
                                "font-after": #{$color-brightest},
                                "body-before": transparent,
                                "body-after": #{$color-darkest},
                                "border-before": #{$color-darkest},
                                "border-after": #{$color-darkest},
                                "icon-before": #{$color-darkest},
                                "icon-after": #{$color-brightest}
                            );
                            .button-ghost-to-filled {
                                @extend %#{$ns}button--base;
                                @extend %#{$ns}button--ghost-to-filled;
                                @extend %#{$ns}button--size-l;
                                @extend %#{$ns}button--uppercase;
                            }
:htmling
                    </code></pre>
                    <h4>HTML</h4>
                    <pre><code class="language-html">
:escape-html
                        <button class="button-ghost-to-filled">
                            <span>Example</span>
                            include ../icon/undo--normal.svg
                        </button>
:htmling
                    </code></pre>
                </div>
            </div>

            <h3>Invisible to Ghost</h3>
            <div class="demo__container">
                <p>Size S / Without (optional) Icon / Capitalize Text</p>
                <p><code>@extend %#{$ns}button--uppercase</code> to capitalize button text</p>
                <p><code>@extend %#{$ns}button--bold</code> to give the font more weight</p>
                <p><code>@extend %#{$ns}button--big-border</code> to harmonize appearance when hovered</p>
                <div class="demo__block--50 demo__example">
                    <button class="buttons__button-invisible-to-ghost">
                        Example
                    </button>
                </div>
                <div class="demo__block--50">
                    <h4>SCSS</h4>
                    <pre><code class="language-css">
:escape-html
                            $color-scheme-button--invisible-to-ghost: (
                                "font-before": #{$color-darkest},
                                "font-after": inherit,
                                "body-before": transparent,
                                "body-after": inherit,
                                "border-before": transparent,
                                "border-after": #{$color-darkest},
                                "icon-before": #{$color-darkest},
                                "icon-after": inherit
                            );
                            .button-invisible-to-ghost {
                                @extend %#{$ns}button--base;
                                @extend %#{$ns}button--invisible-to-ghost;
                                @extend %#{$ns}button--size-s;
                                @extend %#{$ns}button--uppercase;
                                @extend %#{$ns}button--bold;
                                @extend %#{$ns}button--big-border;
                            }
:htmling
                    </code></pre>
                    <h4>HTML</h4>
                    <pre><code class="language-html">
:escape-html
                        <button class="button-invisible-to-ghost">
                            Example
                        </button>
:htmling
                    </code></pre>
                </div>
            </div>


            <h3>Delete</h3>
            <div class="demo__container">
                <p>Size M / With (optional) Icon / Capitalize Text / Bigger Border</p>
                <p><code>@extend %#{$ns}button--uppercase</code> to capitalize button text</p>
                <p><code>@extend %#{$ns}button--bold</code> to give the font more weight</p>
                <p><code>@extend %#{$ns}button--big-border</code> to harmonize appearance when hovered</p>
                <div class="demo__block--50 demo__example">
                    <button class="buttons__button-delete">
include ../icon/trash-alt--solid.svg
:htmling
                        <span>Delete</span>
                    </button>
                </div>
                <div class="demo__block--50">
                    <h4>SCSS</h4>
                    <pre><code class="language-css">
:escape-html
                            $color-scheme-button--delete: (
                                "font-before": #{$color-brightest},
                                "font-after": #{$color-darkest},
                                "body-before": red,
                                "body-after": transparent,
                                "border-before": red,
                                "border-after": #{$color-darkest},
                                "icon-before": #{$color-brightest},
                                "icon-after": red
                            );
                            .button-delete {
                                @extend %#{$ns}button--base;
                                @include fet-button-colorscheme($color-scheme-button--delete);
                                @extend %#{$ns}button--size-l;
                                @extend %#{$ns}button--uppercase;
                                @extend %#{$ns}button--bold;
                                @extend %#{$ns}button--big-border;
                            }
:htmling
                    </code></pre>
                    <h4>HTML</h4>
                    <pre><code class="language-html">
:escape-html
                        <button class="button-delete">
                            include ../icon/trash-alt--solid.svg
                            <span>Delete</span>
                        </button>
:htmling
                    </code></pre>
                </div>
            </div>

            <h3>Undo</h3>
            <div class="demo__container">
                <p>Size M / With (optional) Icon</p>
                <div class="demo__block--50 demo__example">
                    <button class="buttons__button-undo">
include ../icon/undo--normal.svg
:htmling
                        <span>Undo</span>
                    </button>
                </div>
                <div class="demo__block--50">
                    <h4>SCSS</h4>
                    <pre><code class="language-css">
:escape-html
                            $color-scheme-button--undo: (
                                "font-before": #{$color-darkest},
                                "font-after": inherit,
                                "body-before": transparent,
                                "body-after": inherit,
                                "border-before": transparent,
                                "border-after": #{$color-darkest},
                                "icon-before": #{$color-darkest},
                                "icon-after": inherit
                            );
                            .button-undo {
                                @extend %#{$ns}button--base;
                                @extend %#{$ns}button--invisible-to-ghost;
                                @extend %#{$ns}button--size-m;
                            }
:htmling
                    </code></pre>
                    <h4>HTML</h4>
                    <pre><code class="language-html">
:escape-html
                        <button class="button-undo">
                            include ../icon/undo--normal.svg
                            <span>Reset</span>
                        </button>
:htmling
                    </code></pre>
                </div>
            </div>


        </div>
include ../includes/foot.html