include ../includes/head.pug
:htmling
    <body class="goldenlayout-text">
        <div>
            <div class="page">
                <div class="page-beginning"><a href="/Graph/GStA/■■/■■" target="_blank">7v</a></div>
                <div class="p">
                    <div class="seg">überhaupt, auf das wohlwollendste und bereitwilligste er-<br>füllt</div>
                    <div class="note-comment">Von Hegel avisiert (<a href="http://fbl-bln/TEI_doc/Z_1821-08-02_k.xml">Z 2. August 1821. Hegel an Goethe</a>) hatte von Henning am 18. Oktober 1821 Goethe besucht, mit ihm über die Farbenlehre gesprochen und bei dieser Gelegenheit dessen „Farbentabelle“ erhalten. Auf die folgenden Briefe (<a href="http://fbl-bln/TEI_doc/Z_1822-01-19_k.xml">Z 19. Januar 1822</a> und <a href="http://fbl-bln/TEI_doc/Z_1822-03-19_k.xml">Z 19. März 1822</a>) hatte Goethe u. a. durch Zusendung der Apparat-Anforderungen (vgl. <a href="http://fbl-bln/TEI_doc/Z_1822-01-30_c.xml">Z 30. Januar 1822</a>) eingehend geantwortet.</div>, sondern nunmehr auch noch <div class="seg">mit freygebiger<br>Hand einen vollständigen Apparat zur Darstel-<br>lung der in neuerer Zeit entdeckten, so interes-<br>santen entoptischen Farbenphänomene, zum Behuf<br>meiner Vorträge an mich übersendet.</div>
                    <div class="note-comment">Vgl. das Verzeichnis in <a href="http://fbl-bln/TEI_doc/Z_1822-05-16_c.xml">Z 16. Mai 1822. Goethe an von Henning.</a></div> - In der Vor-<br>aussetzung daß, sowohl um der Sache selbst als auch um<br>des verehrten Gebers willen, eine nähere Kennt-<br>niß dieser Sendung für <div class="choice">
                        <div class="abbr">Ew.</div>
                        <div class="expan">Eure</div>
                    </div> Excellenz von<br>Interesse seyn dürfte, verfehle ich nicht Höchstdensel-<br>ben anliegend <span class="unknown-element">
                        <div class="italic">A</div>
                    </span> die von <div class="seg">des Herrn <div class="italic">
                            <div class="choice">
                                <div class="abbr">pp.</div>
                                <div class="expan">perge</div>
                            </div>
                        </div>
                        <div class="person">von Göthe</div><br>Excellenz selbst beygefügte Beschreibung des ge-<br>dachten Apparats und einiger anderer gleichzeitig<br>mit übersendeter chromatischer Geräthschaften und<br>Zeichnungen in Abschrift
                    </div>
                    <div class="note-comment">Vgl. wiederum <a href="http://fbl-bln/TEI_doc/Z_1822-05-16_c.xml">Z 16. Mai 1822. Goethe an von Henning.</a> Die Abschrift in von Hennings Personalakte unter GStA I. HA Rep. 76, Vf Lit H No. 10, Bl. 56-58.</div> <span class="unknown-element"><span class="unknown-element"><span class="unknown-element">zu</span></span></span>ehrerbietigst zu über-<br>reichen, indem ich dabey bemerke daß ich Herrn<br>
                    <div class="person">von Göthe</div> bereits vorläufig <div class="seg">meinen persönlichen<br>Dank ausgesprochen</div>
                    <div class="note-comment">Vgl. <a href="http://fbl-bln/TEI_doc/Z_1822-06-02_k.xml">Z 2. Juni 1822. Von Henning an Goethe.</a></div> und, - da ich den entoptischen<br>Apparat, nach der in einem <div class="seg">frühern, gleichfalls ab-<br>schriftlich beygefügten <span class="unknown-element">
                            <div class="italic">B</div>
                        </span> Schreiben</div>
                    <div class="note-comment">Vgl. <a href="http://fbl-bln/TEI_doc/Z_1822-03-23_c.xml">Z 23. März 1822. Goethe an von Henning.</a> Die Abschrift in von Hennings Personalakte unter GStA I. HA Rep. 76, Vf Lit H No. 10, Bl. 59-60.</div> enthaltenen Aeuße-<br>rung als für das physikalische Cabinet der <div class="org">hiesigen<br>Universität</div> gestiftet betrachten muß - ihn zu-<br>gleich <div class="seg">von Erstellung gegenwärtiger unterthänigster<br>Anzeige an <div class="choice">
                            <div class="abbr">Ew.</div>
                            <div class="expan">Eure</div>
                        </div> Excellenz in Kenntniß gesetzt</div>
                    <div class="note-comment">Nicht ermittelt.</div> habe.<br>- Sollten Höchstdieselben vielleicht die bereits im<br>Universitätsgebäude, in dem <div class="seg">mit Höchstdero Ge-<br>nehmigung zu den chromatischen Versuchen eingerichte-<br>ten Zimmer</div>
                    <div class="note-comment">Eines von mehreren für das neue physikalische Institut eingeplanten Zimmer der vormaligen Wohnung des Physikprofessors Tralles war für von Hennings Vorlesung über Farbenlehre bestimmt; vgl. <a href="http://fbl-bln/TEI_doc/Z_1822-02-19_k.xml">Z 19. Februar 1822. C. L. F. Schultz an Altenstein.</a></div>, nebst den übrigen bis jetzt fertigen<br>Instrumenten aufgestellten Apparat, selbst in hohen<br>Augenschein zu nehmen geneigt <span class="unknown-element"><span class="unknown-element"><span class="unknown-element">seyn</span></span></span>, so erlaube ich mir<br>für diesen Fall schließlich noch die Bemerkung, daß die<br>in Rede stehende entoptische Maschine so leicht trans-<br>portabel ist daß dieselbe ohne Schwierigkeit nach<br>höchstdero Wohnung gebracht werden kann, worüber<br>ich demnach <div class="choice">
                        <div class="abbr">Ew.</div>
                        <div class="expan">Euer</div>
                    </div> Excellenz etwanigen Befehlen ent-<br>gegen sehe. Ehrerbietigst verharre ich
                </div>
                <div class="closer">
                    <div class="salute">
                        <div class="choice">
                            <div class="abbr">Ew.</div>
                            <div class="expan">Euer</div>
                        </div>Excellenz ganz unterthäniger
                    </div>
                    <div class="signed">
                        <div class="person">Leopold von <div class="italic">Henning</div>
                        </div>. <div class="italic">Dr. Phil.</div>
                    </div>
                </div><span class="unknown-element">
                    <div class="p"><span class="unknown-element">Indem ich hierneben zugleich den von dem <div class="choice">
                                <div class="abbr">H.</div>
                                <div class="expan">Herrn</div>
                            </div>
                            <div class="italic">Dr. <div class="person">v. Henning</div>
                            </div><br>vorgelegten <div class="seg">KostenAnschlag</div>
                            <div class="note-comment">Vgl. <a href="http://fbl-bln/TEI_doc/Z_1822-04-13_k.xml">Z 13. April 1822. von Henning. Kostenanschlag.</a> Eine Abschrift in Hennings Personalakte im Geheimen Staatsarchiv: GStA 1. HA Rep. 76 Kultusministerium Vf. Lit. H No. 10, Bl. 61.</div> gehorsamst überreiche, mit dem Be-<br>merken, daß das darin fehlende große Wasser<div class="italic">
                                <div class="object">Prisma</div>
                            </div> aus<br>1 1/2' Spiegelplatten dem Apparat <div class="italic">privatim</div> ist beygefügt worden,<br>trage ich ehrerbietigst darauf an,
                        </span></div><span class="unknown-element"><span class="unknown-element">
                            <div class="label">1)</div> daß zur Bestreitung der Kosten der bereits abgelieferten<br>
                            <div class="italic">Instrument</div>e zur <div class="italic">Disposition</div> des <div class="italic">Dr. <div class="person">v. Henning</div>
                            </div> auf weitere<br>Berechnung 200 <div class="choice">
                                <div class="abbr">Rth.</div>
                                <div class="expan">Reichsthaler</div>
                            </div> an die <div class="italic">Quaestur</div>Casse geneigtest überwie-<br>sen, und
                        </span><span class="unknown-element">
                            <div class="label">2)</div> der <div class="choice">
                                <div class="abbr">H.</div>
                                <div class="expan">Herr</div>
                            </div> Prof. <div class="italic">
                                <div class="person">Weiss</div>
                            </div> autorisirt werde, dem <div class="italic">Dr. <div class="person">v. Henning</div>
                            </div>, zum<br>Behuf des Vortrages der Farbenlehre, aus den in dem <div class="italic">Mineral</div>ien-<br>
                            <div class="italic">Cabinet</div> mehrfach vorhandenen <div class="italic">Exemplar</div>en von <div class="object">isländischem<br>Doppelspath</div> diejenigen 2 Stücke, welche dazu besonders geeignet<br>sind und im <div class="italic">Cabinet</div> entbehrt werden könnten, abzugeben, um<br>solche zum Behuf der Versuche durchschneiden zu lassen.
                        </span></span>
                    <div class="closer">
                        <div class="dateline">
                            <div class="italic">
                                <div class="place">Berlin</div>
                            </div> den <div class="date">1ten <div class="italic">Junij</div> 1822</div>
                        </div>
                        <div class="signed">
                            <div class="person">Schultz</div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
include ../includes/foot.html