include ../includes/head.pug
:htmling
    <body>
        <script type="text/javascript" src="./js/jquery.min.js"></script>
        <script type="text/javascript" src="./js/goldenlayout.min.js"></script>
        <script>
            var config = {
                content: [{
                    type: 'row',
                    content:[{
                        type: 'component',
                        componentName: 'testComponent',
                        title: 'Metadata',
                        componentState: { 
                            label: 'Lorem ipsum dolor sit amut.',
                            dummy: 'asdf',
                            html: '<iframe height="100%" width="100%" src="/objectlist-1.html">'
                        }
                    },{
                        type: 'component',
                        componentName: 'testComponent',
                        title: 'Text',
                        componentState: { 
                            label: 'Lorem ipsum dolor sit amut.',
                            dummy: 'asdf',
                            html: '<iframe height="100%" width="100%" src="/goldenlayout-text.html">'
                        }
                    },{
                        type: 'column',
                        content:[{
                            type: 'component',
                            title: 'Treeview',
                            componentName: 'testComponent',
                            componentState: {
                                label: 'Lorem ipsum dolor sit amut.',
                                html: '<iframe height="100%" width="100%" src="/treeview-1.html">'
                            }
                        },{
                            type: 'component',
                            title: 'Image',
                            componentName: 'testComponent',
                            componentState: {
                                label: 'Lorem ipsum dolor sit amut.',
                                html: '<iframe height="100%" width="100%" src="/image-interact-1.html">'
                            }
                        }]
                    }]
                }]
            };
            
            var myLayout = new GoldenLayout( config );
            myLayout.registerComponent( 'testComponent', function( container, componentState ){
                container.getElement().html( '' + componentState.html + componentState.dummy + '' );
            });
            
            myLayout.init();
        </script>
        <div class="goldenlayout__info">
            <div>
                Lorem Ipsum
include ../icon/angle-right--light.svg
:htmling
                Dolor Sit
include ../icon/angle-right--light.svg
:htmling
                Amut Lorem
            </div>
        </div>
        <div class="goldenlayout__nav">
            <!-- TAB ITEMS -->
            <ul class="goldenlayout-nav__items" title="Show Hide Tab Options">
                <li>
                    <button class="goldenlayout-nav-item" title="Hide Text Tab" aria-selected="true">
include ../icon/check-circle--normal.svg
:htmling
                    <span aria-hidden="true">Text</span></button>
                </li>
                <li>
                    <button class="goldenlayout-nav-item" title="Show Text Tab" aria-selected="false">
include ../icon/circle--normal.svg
:htmling
                        <span aria-hidden="true">Image</span>
                    </button>
                </li>
                <li>
                    <button class="goldenlayout-nav-item" title="Hide Meta Data Tab" aria-selected="true">
include ../icon/check-circle--normal.svg
:htmling
                        <span aria-hidden="true">Metadata</span>
                    </button>
                    </li>
                <li>
                    <button class="goldenlayout-nav-item" title="Show Tree View Tab" aria-selected="false">
include ../icon/circle--normal.svg
:htmling
                        <span aria-hidden="true">Tree View</span>
                    </button>
                </li>
                <li>
                    <button class="goldenlayout-reset" title="Reset Tab View to Default">
include ../icon/undo--normal.svg
:htmling
                        <span aria-hidden="true">Reset Tabs</span>
                    </button>
                </li>
            </ul>
            <!-- NAV ARROWS -->
            <div class="goldenlayout__nav-arrows">
                <button class="goldenlayout__nav-arrow goldenlayout__nav-arrow--left" title="Previous">
include ../icon/arrow-alt-left--normal.svg
:htmling
                    <span aria-hidden="true">Prev Item</span>
                </button>
                <form action="" class="form">
                    <div class="form__input">
                        <label for="a11" class="form-input-text__label visually-hidden">
                            Go to Page
                        </label>
                        <input type="number" id="a11" class="form-input__field-text" placeholder="Go to Page" />
                    </div>
                </form>
                <button class="goldenlayout__nav-arrow goldenlayout__nav-arrow--right" title="Next">
                    <span aria-hidden="true">Next Item</span>
include ../icon/arrow-alt-right--normal.svg
:htmling
                </button>
            </div>

        </div>
        
        <div class="goldenlayout"></div>
    
include ../includes/foot.html