- INCLUDE_PRISM = "true"
include ../includes/head.pug
:htmling
    <body class="page__headings">
        <div class="demo__container">
            <h1>Headings</h1>
            <h2>General Info</h2>
            <h2>Example Headings</h2>

            <h3>Simple H1</h3>
            <div class="demo__container">
                <p>Works with H1-4</p>
                <div class="demo__block--50 demo__example">
                    <h1 class="headings__h-example">Example</h1>
                </div>
                <div class="demo__block--50">
                    <h4>SCSS</h4>
                    <pre><code class="language-css">
:escape-html
                            .heading--style-1 {
                                @extend %#{$ns}heading-style--1;
                            }
:htmling
                    </code></pre>
                    <h4>HTML</h4>
                    <pre><code class="language-html">
:escape-html
                        <h1 class="heading--style-1">Example</h1>
:htmling
                    </code></pre>
                </div>
            </div>

            <h3>No H-Tag required</h3>
            <p>Any HTML tag can appear as heading.</p>
            <div class="demo__container">
                <div class="demo__block--50 demo__example">
                    <span class="demo__headings-style-4 headings__h-example">Example</span>
                </div>
                <div class="demo__block--50">
                    <h4>SCSS</h4>
                    <pre><code class="language-css">
:escape-html
                            .heading--style-4 {
                                @extend %#{$ns}heading-style--4;
                            }
:htmling
                    </code></pre>
                    <h4>HTML</h4>
                    <pre><code class="language-html">
:escape-html
                        <span class="headings-style-4">Example</span>
:htmling
                    </code></pre>
                </div>
            </div>


            <h3>Include Icons</h3>
            <p>Include SVG code, wrap heading text in SPAN tags.</p>
            <p>Placement left or right determined by flow in HTML code.</p>
            <p>No need to edit CSS code.</p>
            <div class="demo__container">
                <div class="demo__block--50 demo__example">
                    <h2 class="demo__headings-style-2 headings__h-example">
include ../icon/check-circle--normal.svg
:htmling
                        <span>SCSS</span>
                    </h2>
                </div>
                <div class="demo__block--50">
                    <h4>SCSS</h4>
                    <pre><code class="language-css">
:escape-html
                            .heading--style-2 {
                                @extend %#{$ns}heading-style--2;
                            }
:htmling
                    </code></pre>
                    <h4>HTML</h4>
                    <pre><code class="language-html">
:escape-html
                        <h2 class="headings-style-2">
                            include ../icon/check-circle--normal.svg
                            <span>Example</span>
                        </h2>
:htmling
                    </code></pre>
                </div>
            </div>

        </div>
include ../includes/foot.html