include ../includes/head.pug
:htmling
    <body>
        <figure class="image">
            <nav>
                <button class="image__interact-button" title="Zoom In">
include ../icon/search-plus--light.svg
:htmling
                </button>
                <button class="image__interact-button" title="Zoom Out">
include ../icon/search-minus--light.svg
:htmling
                </button>
                <button class="image__interact-button" title="Default View">
include ../icon/expand--light.svg
:htmling
                </button>
                <button class="image__interact-button" title="Open Fullscreen View">
include ../icon/expand-alt--light.svg
:htmling
                </button>
                <button class="image__interact-button" title="Close Fullscreen View">
include ../icon/shrink-alt--light.svg
:htmling
                </button>
            </nav>
            <img src="/img/dummy-3.jpg" alt="">
        </figure>
    
include ../includes/foot.html