include ../includes/head.pug
:htmling
    <body class="page__imprint">
        <div class="imprint__content">
            <h1 class="content-heading-style--1">Impressum / Anbieter</h1>
            <p>Die nachstehenden Informationen enthalten die gesetzlich vorgesehenen Pflichtangaben zur Anbieterkennzeichnung zu den datenschutzrechtlichen Informationspflichten sowie weitere wichtige rechtliche Hinweise zur Internetpräsenz der SUB Göttingen.</p>

            <h2 class="content-heading-style--2">Anbieter</h2>
            <p>Anbieter dieser Internetpräsenz ist im Rechtsinne die Niedersächsische Staats- und Universitätsbibliothek Göttingen.</p>
        
            <h3 class="content-heading-style--3">Adresse</h3>
            <address class="content__address">
                Niedersächsische Staats- und Universitätsbibliothek Göttingen<br />
                Georg-August-Universität Göttingen<br />
                <a href="https://www.openstreetmap.org/way/24693617#map=19/51.53948/9.93592">
include ../icon/map-marker-alt--light.svg
:htmling
                    <span>Platz der Göttinger Sieben 1, 37073 Göttingen</span></a>
                <br />
                <a href="tel:0049551395212">
include ../icon/phone-alt--light.svg
:htmling
                    <span>+49 (0)551 / 39-5212</span>
                </a>
                <br />
                <a href="tel:0049551395222">
include ../icon/fax--light.svg
:htmling
                    <span>+49 (0)551 / 39-5222</span>
                </a>
                <br />
                <a href="mailto:sekretariat@sub.uni-goettingen.de">
include ../icon/mail--light.svg
:htmling
                    <span>sekretariat@sub.uni-goettingen.de</span>
                </a>
                <br />
                <a href="//sub.uni-goettingen.de">
include ../icon/link--light.svg
:htmling
                    <span>sub.uni-goettingen.de</span>
                </a>
            </address>
        
            <h3 class="content-heading-style--3">Vertreter</h3>
            <p>Die Niedersächsische Staats- und Universitätsbibliothek Göttingen (SUB Göttingen) wird vertreten durch den leitenden Direktor Prof. Dr. Wolfram Horstmann.</p>
            <p>Die SUB Göttingen ist als zentrale Einrichtung eine organisatorische, rechtlich nicht selbständige Einheit der Georg-August-Universität Göttingen. Die Georg-August-Universität Göttingen ist eine Körperschaft des öffentlichen Rechts. Sie wird durch die Präsidentin (kommissarisch) Dr. Valérie Schüller (Vizepräsidentin für Finanzen und Personal) gesetzlich vertreten.</p>
        
            <h3 class="content-heading-style--3">Zuständige Aufsichtsbehörde</h3>
            <address class="content__address">
                Georg-August-Universität Göttingen<br />
                Stiftung Öffentlichen Rechts<br />
                Stiftungsausschuss Universität<br />
                Wilhelmsplatz 1<br />
                37073 Göttingen
            </address>
        
            <h3 class="content-heading-style--3">Umsatzsteuerindentifikationsnummer</h3>
            <p>Die Umsatzsteueridentifikationsnummer der Georg-August-Universität Göttingen lautet: <code class="nowrap">DE 286 005 408</code></p>
        
            <h3 class="content-heading-style--3">Redaktionsverantwortliche</h3>
            <p>
                Redaktionsverantwortlich für die Internetpräsenz der SUB Göttingen nach § 55 Abs. 2
                <dfn id="rstv"><abbr class="content__abbr" title="Rechtssteuer Irgendwas">RStV</abbr></dfn>
                ist:
            </p>
            <address class="content__address content__address--indent">
                Fee-Saskia Fricke<br />
                Niedersächsische Staats- und Universitätsbibliothek Göttingen<br />
                Georg-August-Universität<br />
                <a href="https://www.openstreetmap.org/way/24693617#map=19/51.53948/9.93592">
include ../icon/map-marker-alt--light.svg
:htmling
                    <span>Göttingen Platz der Göttinger Sieben 1, 37073 Göttingen</span>
                </a><br />
                <a href="tel:0049551395371">
include ../icon/phone-alt--light.svg
:htmling
                    <span>+49 (0)551 / 39-5371</span>
                </a><br />
                <a href="mailto:fee-saskia.fricke@sub.uni-goettingen.de">
include ../icon/mail--light.svg
:htmling
                    <span>fee-saskia.fricke@sub.uni-goettingen.de</span>
                </a><br />
                <a href="//sub.uni-goettingen.de">
include ../icon/link--light.svg
:htmling
                    <span>sub.uni-goettingen.de</span>
                </a>
            </address>
        
            <h2 class="content-heading-style--2">Rechtliche Hinweise</h2>
        
            <h3 class="content-heading-style--3">Haftung für Inhalte</h3>
            <p>Die Niedersächsische Staats- und Universitätsbibliothek Göttingen (SUB Göttingen) ist als Diensteanbieterin für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Die SUB Göttingen ist um Richtigkeit und Aktualität der hier bereitgestellten Informationen bemüht. Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt, dennoch können Fehler und Unklarheiten nicht vollständig ausgeschlossen werden. Die SUB Göttingen übernimmt daher keine Gewähr für die Aktualität, Richtigkeit, Vollständigkeit oder Qualität der bereitgestellten Informationen.</p>
            <p>Insbesondere sind wir als Diensteanbieter nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
            <p>Für Schäden materieller oder immaterieller Art, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen unmittelbar oder mittelbar verursacht werden, haftet die SUB Göttingen nicht, sofern ihr nicht nachweislich vorsätzliches oder grob fahrlässiges Verschulden zur Last fällt. Gleiches gilt für kostenlos zum Download bereitgehaltene Software.</p>
            <p>Die SUB Göttingen behält es sich vor, Teile des Internetangebots oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.</p>
        
            <h3 class="content-heading-style--3">Haftung für Links</h3>
            <p>Unser Angebot enthält Verknüpfungen (Links) zu Webseiten von anderen Einrichtungen der Universität und zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die SUB Göttingen identifiziert sich deshalb ausdrücklich nicht mit dem Inhalt der verlinkten Seiten und macht sich die fremden Inhalte nicht zu Eigen.</p>
            <p>Die gesetzten Links werden im wissenschaftlichen Sinne zitiert und zur Information für Studium, Forschung und Lehre zur Verfügung gestellt. Wir haben die verlinkten Seiten zum Zeitpunkt der erstmaligen Verknüpfung auf mögliche Rechtsverstöße überprüft. Inhalte, durch die eine mögliche zivil- oder strafrechtliche Verantwortlichkeit ausgelöst wird, waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar.</p>
            <p>Wenn die SUB Göttingen feststellt oder von anderen darauf hingewiesen wird, dass ein externes Angebot, auf das sie per Link verknüpft hat, eine zivil- oder strafrechtliche Verantwortlichkeit auslöst, wird sie diesen Link umgehend entfernen. Die SUB Göttingen distanziert sich ausdrücklich von derartigen Inhalten.</p>
        
            <h3 class="content-heading-style--3">Hinweise zum Urheber- und Kennzeichenrecht</h3>
            <p>Die SUB Göttingen ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Grafiken, Tondokumente, Videosequenzen und Texte zu beachten, von ihr selbst erstellte Grafiken, Tondokumente, Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zurückzugreifen.</p>
            <p>Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind.</p>
            <p>Das Layout der Homepage, die verwendeten Grafiken sowie die sonstigen Inhalte der Internetpräsenz der SUB Göttingen sind urheberrechtlich geschützt.</p>
            <p>Jede vom Urheberrechtsgesetz nicht zugelassene Verwertung bedarf vorheriger ausdrücklicher Zustimmung der SUB Göttingen. Dies gilt insbesondere für Vervielfältigung, Bearbeitung, Übersetzung, Einspeicherung, Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken oder anderen elektronischen Medien und Systemen. Fotokopien und Downloads von Web-Seiten für den privaten, wissenschaftlichen und nicht kommerziellen Gebrauch dürfen hergestellt werden.</p>
            <p>Das Urheberrecht für das Universitätssiegel liegt ausdrücklich bei der Georg-August-Universität Göttingen.<br />Wir erlauben ausdrücklich und begrüßen das Zitieren unserer Dokumente und Webseiten sowie das Setzen von Links auf unsere Website.</p>
        </div>
    

include ../pages/misc-links-1.pug
include ../includes/foot.html