include ../includes/head.pug
:htmling
    <body>
        <div class="emo">
            <div class="objectlist-1 objectlist-1--fixed">
                <ul>
                    <li class="objectlist-1__item">
                        <div class="objectlist-1__heading">Collection 3</div>
                        <div class="objectlist-1__label">Collector:</div>
                        <div class="objectlist-1__descr">Max Mustermann</div>
                        <div class="objectlist-1__label">Title:</div>
                        <div class="objectlist-1__descr">The Example Collection</div>
                        <div class="objectlist-1__label">Description:</div>
                        <div class="objectlist-1__descr">This collection is prepared for testing purposes.</div>
                    </li>
                    <li class="objectlist-1__item">
                        <div class="objectlist-1__heading">Manifest 3/3</div>
                        <div class="objectlist-1__label">Label:</div>
                        <div class="objectlist-1__descr">Testdata Manifest 002 Briefwechsel</div>
                        <div class="objectlist-1__label">Recipient:</div>
                        <div class="objectlist-1__descr">Wilhelm Weber</div>
                        <div class="objectlist-1__label">Date:</div>
                        <div class="objectlist-1__descr">2019-12-07</div>
                        <div class="objectlist-1__label">Project:</div>
                        <div class="objectlist-1__descr">EMO Viewer Project @ SUB Göttingen</div>
                    </li>
                </ul>
            </div>
        </div>
include ../includes/foot.html