include ../includes/head.pug
:htmling
    <body class="page__test">
        <div class="test-container">
            <div class="test__content test__block--left">
                <h2 class="content-heading-style--2">
                    Lorem ipsum dolor sit amut. (Left)
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <div class="content__image-wrap content__image-wrap--flow">
                    <img src="/img/dummy-2.jpg" class="" alt="">
                </div>
            </div>
            <div class="test__content test__block--right">
                <form action="#" class="form">
                    <div class="form__heading form__heading--with-legend">
                        Form Heading (Right)
                    </div>
                    <fieldset>
                        <legend class="form__legend">
                            All fields marked * are required!
                        </legend>
                        <div class="form__input form__input--stacked form-input__field-text--required">
                            <label for="a1" class="form-input-text__label">
                                Text Input *
                            </label>
                            <input type="text" id="a1" class="form-input__field-text form-input__field-text--required form-input__field--with-description" />
                            <span class="form-input__description">
                                Some additional information for this input field. Lorem ipsum dolor sit amut.
                            </span>
                        </div>
                        <div class="form__input form__input--stacked">
                            <label for="a11" class="form-input-text__label">
                                Text Input
                            </label>
                            <input type="text" id="a11" class="form-input__field-text" />
                        </div>
                        <div class="form__input form__input--stacked form-input__field--with-description">
                            <label for="a3" class="form-input-textarea__label">
                                textarea
                            </label>
                            <textarea name="asdf" id="a3" class="form-input__field-textarea form-input__field--with-description"></textarea>
                            <span class="form-input__description">
                                Some additional information for this input field. Lorem ipsum dolor sit amut.
                            </span>
                        </div>
                        <div class="form__input form__input--stacked">
                            <label for="a4" class="form-input-select__label">
                                Select
                            </label>
                            <select name="" id="a4" class="form-input__field-select form-input__field--with-description">
                                <option value="">↓</option>
                                <option value="">asdf 1</option>
                                <option value="">asdf 2</option>
                                <option value="">asdf 3</option>
                                <option value="">asdf 4</option>
                            </select>
                            <span class="form-input__description">
                                Some additional information for this input field. Lorem ipsum dolor sit amut.
                            </span>
                        </div>
                        <div class="form__input form__input--stacked">
                            <span class="form-input__heading">
                                Auswahl
                            </span>
                            <div class="form-input__radio">
                                <input type="radio" name="a6" id="a6" />
                                <label for="a6" class="form-input__label">
                                    Radio
                                </label>
                            </div>
                            <div class="form-input__radio">
                                <input type="radio" name="a6" id="a7" />
                                <label for="a7" class="form-input__label">
                                    Radio
                                </label>
                            </div>
                            <div class="form-input__radio">
                                <input type="radio" name="a6" id="a8" />
                                <label for="a8" class="form-input__label">
                                    Radio
                                </label>
                            </div>
                            <span class="form-input__description">
                                Some additional information for this input field. Lorem ipsum dolor sit amut.
                            </span>
                        </div>
                        <div class="form__input form__input--stacked ">
                            <span class="form-input__heading">
                                Checkboxes
                            </span>
                            <div class="form-input__checkbox">
                                <input type="checkbox" name="a10" id="a10" />
                                <label for="a10">
                                    Checkbox
                                </label>
                            </div>
                            <div class="form-input__checkbox">
                                <input type="checkbox" name="a12" id="a12" />
                                <label for="a12">
                                    Checkbox
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="test__content">
            <h1 class="content-heading-style--1">Heading 1 - Lorem ipsum dolor sit amut.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmodt empor incididunt ut labore et dolore magna aliqua.</p>
        
            <h2 class="content-heading-style--2">Heading 2 - Lorem ipsum dolor sit amut.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <h3 class="content-heading-style--3">Heading 3 - Lorem ipsum dolor sit amut ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div class="content__image-wrap">
                <img src="/img/dummy-1.jpg" class="" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div class="content__image-wrap content__image-wrap--flow">
                <img src="/img/dummy-2.jpg" class="" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        
            <h4 class="content-heading-style--4">Heading 4 - Lorem ipsum dolor sit amut ipsum dolor amut.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.</p>
            <blockquote class="content-blockquote">
                Blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                <a href="https://example.com">
                    <span>Random Link</span>
include ../icon/link--light.svg
:htmling
                </a>
            </blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>
                <a href="https://example.com" download="">
                    <span>Download-Link</span>
include ../icon/download--light.svg
:htmling
                </a><br />
                <a href="tel:1234">
                    <span>Tel-Link</span>
include ../icon/phone-alt--light.svg
:htmling
                </a><br />
                <a href="mailto:text@example.com">
                    <span>Mail</span>
include ../icon/mail--light.svg
:htmling
                </a>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="content-list">
                <li>UL LI Item 1</li>
                <li>UL LI Item 2 Lorem ipsum dolor sit amut. Lorem ipsum dolor sit amut. Lorem ipsum dolor sit amut. Lorem ipsum dolor sit amut. Lorem ipsum dolor sit amut. Lorem ipsum dolor sit amut. Lorem ipsum dolor sit amut. Lorem ipsum dolor sit amut. Lorem ipsum dolor sit amut.</li>
                <li>UL LI Item 3</li>
                <li>UL LI Item 4</li>
            </ul>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ol class="">
                <li>OL LI Item 1</li>
                <li>OL LI Item 2</li>
                <li>OL LI Item 3</li>
                <li>OL LI Item 4</li>
            </ol>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        
            <form action="#" class="form">
                <div class="form__heading form__heading--with-legend">Form Heading</div>
                <fieldset>
                    <legend class="form__legend">All fields marked * are required!</legend>
                    <div class="form__input form__input--stacked form-input__field-text--required" >
                        <label for="a1" class="form-input-text__label">Text Input *</label>
                        <input type="text" id="a1" class="form-input__field-text form-input__field-text--required form-input__field--with-description" />
                        <span class="form-input__description">Some additional information for this input field. Lorem ipsum dolor sit amut.</span>
                    </div>
            
                    <div class="form__input form__input--stacked">
                        <label for="a11" class="form-input-text__label">Text Input</label>
                        <input type="text" id="a11" class="form-input__field-text" />
                    </div>
            
                    <div class="form__input form__input--stacked form-input__field--with-description">
                        <label for="a3" class="form-input-textarea__label">textarea</label>
                        <textarea name="asdf" id="a3" class="form-input__field-textarea form-input__field--with-description">
                        </textarea>
                        <span class="form-input__description">Some additional information for this input field. Lorem ipsum dolor sit amut.</span>
                    </div>
                    <div class="form__input form__input--stacked">
                        <label for="a4" class="form-input-select__label">Select</label>
                        <select name="" id="a4" class="form-input__field-select form-input__field--with-description">
                            <option value="">asdf 1</option>
                            <option value="">asdf 2</option>
                            <option value="">asdf 3</option>
                            <option value="">asdf 4</option>
                        </select>
                        <span class="form-input__description" >Some additional information for this input field. Lorem ipsum dolor sit amut.</span>
                    </div>
                    <div class="form__input form__input--stacked">
                        <span class="form-input__heading">Auswahl</span>
                        <div class="form-input__radio">
                            <input type="radio" name="a6" id="a6" />
                            <label for="a6" class="form-input__label">Radio</label>
                        </div>
                        <div class="form-input__radio">
                            <input type="radio" name="a6" id="a7" />
                            <label for="a7" class="form-input__label">Radio</label>
                        </div>
                        <div class="form-input__radio">
                            <input type="radio" name="a6" id="a8" />
                            <label for="a8" class="form-input__label">Radio</label>
                        </div>
                        <span class="form-input__description">Some additional information for this input field. Lorem ipsum dolor sit amut.</span>
                    </div>
                    <!--<div class="form__input form__input--stacked ">
                        <span class="form-input__heading">Checkboxes</span>
                        <div class="form-input__checkbox">
                            <input type="checkbox" name="a9" id="a9" checked />
                            <label for="a9">Checkbox</label>
                        </div>
                        <span class="form-input__description"
                            >Some additional information for this input field. Lorem ipsum
                            dolor sit amut.</span
                        >
                    </div>-->
                    <div class="form__input form__input--stacked ">
                        <span class="form-input__heading">Checkboxes</span>
                        <div class="form-input__checkbox">
                            <input type="checkbox" name="a10" id="a10" />
                            <label for="a10">Checkbox</label>
                        </div>
                        <div class="form-input__checkbox">
                            <input type="checkbox" name="a12" id="a12" />
                            <label for="a12">Checkbox</label>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
include ../pages/misc-links-1.pug
include ../includes/foot.html