include ../includes/head.pug
:htmling
    <body>
        <nav class="tree">
            <!--
                <div class="tree__nav-item tree__nav-item--1">
                <button class="tree__button tree__icon" title="Open Sequence 1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" aria-hidden="true"><path d="M0.625,40.0403576 L0.625,359.952924 C0.625,395.484181 43.7070738,413.411685 68.8645166,388.236679 L228.76087,228.284146 C244.370752,212.664143 244.372001,187.336638 228.76087,171.715385 L68.8645166,11.7553518 C43.7570414,-13.3684034 0.625,4.4378503 0.625,40.0403576 Z M200.495442,200.000391 L40.5990885,360.000424 L40.5990885,40.0003576 L200.495442,200.000391 Z" transform="translate(136 56)"/></svg>
                </button>
                <button class="tree__button tree__text" title="Show Sequence 1">Sequence 1</button>
            </div>
            <div class="tree__nav-item tree__nav-item--1">
                <button class="tree__button tree__button--active tree__icon" title="Close Sequence 2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" aria-hidden="true"><path d="M0.625,40.0403576 L0.625,359.952924 C0.625,395.484181 43.7070738,413.411685 68.8645166,388.236679 L228.76087,228.284146 C244.370752,212.664143 244.372001,187.336638 228.76087,171.715385 L68.8645166,11.7553518 C43.7570414,-13.3684034 0.625,4.4378503 0.625,40.0403576 Z M200.495442,200.000391 L40.5990885,360.000424 L40.5990885,40.0003576 L200.495442,200.000391 Z" transform="translate(136 56)"/></svg>
                </button>
                <button class="tree__button tree__text" title="Show Sequence 2">
                    Sequence 2
                </button>
            </div>
            <div>
                <ul class="tree__item-list">
                    <li>
                        <div class="tree__nav-item tree__nav-item--2">
                            <button class="tree__button tree__icon tree__icon--2" title="Open Item 2-1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><path d="M0.625,40.0403576 L0.625,359.952924 C0.625,395.484181 43.7070738,413.411685 68.8645166,388.236679 L228.76087,228.284146 C244.370752,212.664143 244.372001,187.336638 228.76087,171.715385 L68.8645166,11.7553518 C43.7570414,-13.3684034 0.625,4.4378503 0.625,40.0403576 Z M200.495442,200.000391 L40.5990885,360.000424 L40.5990885,40.0003576 L200.495442,200.000391 Z" transform="translate(136 56)"/></svg>
                            </button>
                            <button class="tree__button tree__text tree__text--2" title="Show Item 2-1">
                                Item 2-1
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="tree__nav-item tree__nav-item--2">
                            <button class="tree__button tree__button--active tree__icon tree__icon--active" title="Close Item 2-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" aria-hidden="true"><path d="M0.625,40.0403576 L0.625,359.952924 C0.625,395.484181 43.7070738,413.411685 68.8645166,388.236679 L228.76087,228.284146 C244.370752,212.664143 244.372001,187.336638 228.76087,171.715385 L68.8645166,11.7553518 C43.7570414,-13.3684034 0.625,4.4378503 0.625,40.0403576 Z M200.495442,200.000391 L40.5990885,360.000424 L40.5990885,40.0003576 L200.495442,200.000391 Z" transform="translate(136 56)"/></svg>
                            </button>
                            <button class="tree__button tree__text tree__text--2" title="Show Item 2-2">
                                Item 2-2
                            </button>
                        </div>
                        <div>
                            <ul class="tree-data-item__list">
                                <li>
                                    <span class="tree__data-item tree__data-item--active"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><path d="M226.20155,213.178295 L43.5658915,393.023256 C36.2790698,400.310078 24.496124,400.310078 17.2093023,393.023256 L6.20155039,382.015504 C-1.08527132,374.728682 -1.08527132,362.945736 6.20155039,355.658915 L164.806202,200 L6.35658915,44.3410853 C-0.930232558,37.0542636 -0.930232558,25.2713178 6.35658915,17.9844961 L17.3643411,6.97674419 C24.6511628,-0.310077519 36.4341085,-0.310077519 43.7209302,6.97674419 L226.356589,186.821705 C233.488372,194.108527 233.488372,205.891473 226.20155,213.178295 Z M424.651163,186.821705 L242.015504,6.97674419 C234.728682,-0.310077519 222.945736,-0.310077519 215.658915,6.97674419 L204.651163,17.9844961 C197.364341,25.2713178 197.364341,37.0542636 204.651163,44.3410853 L363.255814,200 L204.806202,355.658915 C197.51938,362.945736 197.51938,374.728682 204.806202,382.015504 L215.813953,393.023256 C223.100775,400.310078 234.883721,400.310078 242.170543,393.023256 L424.806202,213.178295 C431.937984,205.891473 431.937984,194.108527 424.651163,186.821705 Z" transform="translate(40 56)"/></svg>api/sampledata/document1/1/latest/item.json</span>
                                </li>
                                <li>
                                    <button title="Open Data" class="tree__data-item"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><path d="M226.20155,213.178295 L43.5658915,393.023256 C36.2790698,400.310078 24.496124,400.310078 17.2093023,393.023256 L6.20155039,382.015504 C-1.08527132,374.728682 -1.08527132,362.945736 6.20155039,355.658915 L164.806202,200 L6.35658915,44.3410853 C-0.930232558,37.0542636 -0.930232558,25.2713178 6.35658915,17.9844961 L17.3643411,6.97674419 C24.6511628,-0.310077519 36.4341085,-0.310077519 43.7209302,6.97674419 L226.356589,186.821705 C233.488372,194.108527 233.488372,205.891473 226.20155,213.178295 Z" transform="translate(140 56)"/></svg>api/sampledata/document2/2/latest/item.json</button>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="tree__nav-item tree__nav-item--2">
                            <button class="tree__icon tree__button" title="Open Item 2-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><path d="M0.625,40.0403576 L0.625,359.952924 C0.625,395.484181 43.7070738,413.411685 68.8645166,388.236679 L228.76087,228.284146 C244.370752,212.664143 244.372001,187.336638 228.76087,171.715385 L68.8645166,11.7553518 C43.7570414,-13.3684034 0.625,4.4378503 0.625,40.0403576 Z M200.495442,200.000391 L40.5990885,360.000424 L40.5990885,40.0003576 L200.495442,200.000391 Z" transform="translate(136 56)"/></svg>
                            </button>
                            <button class="tree__text tree__text--2 tree__button" title="Show Item 2-3">
                                Item 2-3
                            </button>
                        </div>
                    </li>
                    <li>
                        <div class="tree__nav-item tree__nav-item--2">
                            <button class="tree__icon tree__button" title="Open Item 2-4">
                                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><path d="M0.625,40.0403576 L0.625,359.952924 C0.625,395.484181 43.7070738,413.411685 68.8645166,388.236679 L228.76087,228.284146 C244.370752,212.664143 244.372001,187.336638 228.76087,171.715385 L68.8645166,11.7553518 C43.7570414,-13.3684034 0.625,4.4378503 0.625,40.0403576 Z M200.495442,200.000391 L40.5990885,360.000424 L40.5990885,40.0003576 L200.495442,200.000391 Z" transform="translate(136 56)"/></svg>
                            </button>
                            <button class="tree__text tree__text--2 tree__button" title="Show Item 2-4">
                                Item 2-4
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tree__nav-item tree__nav-item--1">
                <button class="tree__button tree__icon" title="Open Sequence 3">
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><path d="M0.625,40.0403576 L0.625,359.952924 C0.625,395.484181 43.7070738,413.411685 68.8645166,388.236679 L228.76087,228.284146 C244.370752,212.664143 244.372001,187.336638 228.76087,171.715385 L68.8645166,11.7553518 C43.7570414,-13.3684034 0.625,4.4378503 0.625,40.0403576 Z M200.495442,200.000391 L40.5990885,360.000424 L40.5990885,40.0003576 L200.495442,200.000391 Z" transform="translate(136 56)"/></svg>
                </button>
                <button class="tree__button tree__text tree__text--1" title="Show Sequence 3">
                    Sequence 3
                </button>
            </div>
        -->
            <button class="tree__nav-item tree__nav-item--1 tree__button tree__button--active" title="Close Sequence 1x">
                <div class="tree__icon">
include ../icon/caret-right--light.svg
:htmling
                </div>
                <div class="tree__text">Manifest 1x</div>
            </button>
            <ul class="tree__item-list">
                <li>
                    <button class="tree__nav-item tree__nav-item--2 tree__button" title="Open Item 2-1">
                        <div class="tree__icon">
include ../icon/caret-right--light.svg
:htmling
                        </div>
                        <div class="tree__text tree__text--2">
                            Item 2-1
                        </div>
                    </button>
                </li>
                <li>
                    <button class="tree__nav-item tree__nav-item--2 tree__button tree__button--active" title="Close Item 2-2">
                        <div class="tree__icon tree__icon--active">
include ../icon/caret-right--light.svg
:htmling
                        </div>
                        <div class="tree__text tree__text--2">
                            Item 2-2
                        </div>
                    </button>
                    <div>
                        <ul class="tree-data-item__list">
                            <li class="tree__data-item">
include ../icon/angle-double-right--light.svg
:htmling
                                <span title="Active Data" class="tree__data-item--active">api/sampledata/document1/1/latest/item.json</span>
                            </li>
                            <li class="tree__data-item">
                                <button title="Open Data" class="item-with-icon">
include ../icon/angle-right--light.svg
:htmling
                                    <span>api/sampledata/document2/2/latest/item.json</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <button class="tree__nav-item tree__nav-item--2 tree__button" title="Open Item 2-3">
                        <div class="tree__icon">
include ../icon/caret-right--light.svg
:htmling
                        </div>
                        <div class="tree__text tree__text--2">
                            Item 2-3
                        </div>
                    </button>
                </li>
                <li>
                    <button class="tree__nav-item tree__nav-item--2 tree__button" title="Open Item 2-4">
                        <div class="tree__icon">
include ../icon/caret-right--light.svg
:htmling
                        </div>
                        <div class="tree__text tree__text--2">
                            Item 2-4
                        </div>
                    </button>
                </li>
            </ul>
        </nav>
    
include ../includes/foot.html