include includes/head.pug
//- - var ENV = process.env.NODE_ENV
//- h1 #{ENV}
//- p asdf
:htmling
    <body class="page__index">
        <main>
        <h1>Frontend Templating</h1>
            <div class="demo__content">
                <h2>Demo</h2>
                <nav>
                    <ul>
                        <li><a href="/buttons.html">Buttons</a></li>
                        <li><a href="/headings.html">Headings</a></li>
                    </ul>
                </nav>
                <h2>Blocks</h2>
                <nav>
                    <ul>
                        <li><a href="/treeview-1.html">Treeview 1</a></li>
                        <li><a href="/image-interact-1.html">Image Interact 1</a></li>
                        <li><a href="/objectlist-1.html">Objectlist 1</a></li>
                        <li><a href="/objectlist-1--fixed.html">Objectlist 1 (fixed)</a></li>
                        <li><a href="/logo-block-1.html">Logo Block 1</a></li>
                        <li><a href="/misc-links-1.html">Misc Links 1</a></li>
                    </ul>
                </nav>
                <h2>Pages</h2>
                <nav>
                    <ul>
                        <li><a href="/test.html">Test</a></li>
                        <li><a href="/imprint.html">Imprint</a></li>
                        <li><a href="/goldenlayout.html">Golden Layout</a></li>
                    </ul>
                </nav>
            </div>
        </main>
include includes/foot.html