include includes/head.pug
:htmling
    <body class="page__logo-block-1">
        <ul class="logo-block-1 layout-container logo-block-1--center-logos">
            <li class="logo-block-1__logo-container">
                <a href="/" class="logo-block-1__logo">
                    <img src="./img/logo/subugoe-left.svg" alt="">
                </a>
            </li>
            <li class="logo-block-1__logo-container">
                <a href="/" class="logo-block-1__logo">
                    <img src="./img/logo/ssg-aac.svg" alt="">
                </a>
            </li>
            <li class="logo-block-1__logo-container">
                <a href="/" class="logo-block-1__logo">
                    <img src="./img/logo/subugoe-simple.svg" alt="">
                </a>
            </li>
            <li class="logo-block-1__logo-container">
                <a href="/" class="logo-block-1__logo">
                    <img src="./img/logo/open-access.svg" alt="">
                </a>
            </li>
            <li class="logo-block-1__logo-container">
                <a href="/" class="logo-block-1__logo">
                    <img src="./img/logo/subugoe-simple.svg" alt="">
                </a>
            </li>
        </ul>
include includes/foot.html