// BUTTON BASE -------------------------------------------------------------- //

%#{$ns}button--base {
  align-items: center;
  border-color: transparent;
  border-radius: ms(0.25);
  border-style: solid;
  border-width: ms(0.1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-decoration: none;
  transition: var(--animation-timing--default);
  transition-property: fill, color, border-color, background-color;
  svg {
    fill: var(--color-background-base--inverted);
    transition-duration: var(--animation-timing--default);
    transition-property: fill, background-color;
  }
  &:active,
  &:focus,
  &:hover {
    svg {
      transition-duration: var(--animation-timing--default);
      transition-property: fill, background-color;
    }
  }
}

// BUTTON SIZE -------------------------------------------------------------- //

%#{$ns}button--size-l {
  --icon-size-multiplicator: 2.75;
  font-size: 125%;
  letter-spacing: 1px;
  padding: ms(0.75) ms(1.25);
  svg {
    @include set-icon-dimensions(var(--icon-size-multiplicator));
  }
  svg:first-of-type + span,
  span:first-of-type + svg {
    margin-left: ms(0.5);
  }
}

%#{$ns}button--size-m {
  --icon-size-multiplicator: 2.2;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  padding: ms(0.5) ms(1);
  svg {
    @include set-icon-dimensions(var(--icon-size-multiplicator));
  }
  svg:first-of-type + span,
  span:first-of-type + svg {
    margin-left: ms(0.5);
  }
}

%#{$ns}button--size-s {
  --icon-size-multiplicator: 1.8;
  font-size: 85%;
  letter-spacing: 0.5px;
  padding: ms(0.33) ms(0.75);
  svg {
    @include set-icon-dimensions(var(--icon-size-multiplicator));
  }
  svg:first-of-type + span,
  span:first-of-type + svg {
    margin-left: ms(0.25);
  }
}

// BUTTON MODIFIER ---------------------------------------------------------- //

%#{$ns}button--bold {
  @include fontface__bold;
}

%#{$ns}button--uppercase {
  text-transform: uppercase;
}

%#{$ns}button--big-border {
  border-width: ms(0.25);
}

// BUTTON COLORSCHEME ------------------------------------------------------- //

@mixin fet-button-colorscheme($colorscheme) {
  background-color: get-color($colorscheme, "body-before");
  border-color: get-color($colorscheme, "border-before");
  color: get-color($colorscheme, "font-before");
  svg {
    fill: get-color($colorscheme, "icon-before");
  }
  &:active,
  &:focus,
  &:hover {
    background-color: get-color($colorscheme, "body-after");
    border-color: get-color($colorscheme, "border-after");
    color: get-color($colorscheme, "font-after");
    svg {
      fill: get-color($colorscheme, "icon-after");
    }
  }
}

//  -------------------------------------------------------- //

%#{$ns}button--ghost-to-invisible {
  background-color: transparent;
  border-color: var(--color-background-base--inverted);
  color: var(--color-font-base);
  svg {
    fill: var(--color-font-base);
  }
  &:active,
  &:focus,
  &:hover {
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    color: var(--color-font-base);
    svg {
      fill: var(--color-background-base--inverted);
    }
  }
}

%#{$ns}button--ghost-to-filled {
  background-color: transparent;
  border-color: var(--color-background-base--inverted);
  color: var(--color-font-base);
  svg {
    fill: var(--color-font-base);
  }
  &:active,
  &:focus,
  &:hover {
    background-color: var(--color-background-base--inverted);
    border-color: var(--color-background-base--inverted);
    border-style: solid;
    color: var(--color-font-base--inverted);
    svg {
      fill: var(--color-background-base);
    }
  }
}

%#{$ns}button--filled-to-ghost {
  background-color: var(--color-background-base--inverted);
  color: var(--color-font-base--inverted);
  svg {
    fill: var(--color-font-base--inverted);
  }
  &:active,
  &:focus,
  &:hover {
    background-color: transparent;
    border-color: var(--color-background-base--inverted);
    border-style: solid;
    color: var(--color-font-base);
    svg {
      fill: var(--color-background-base--inverted);
    }
  }
}

%#{$ns}button--filled-to-invisible {
  background-color: var(--color-background-base--inverted);
  color: var(--color-font-base--inverted);
  svg {
    fill: var(--color-font-base--inverted);
  }
  &:active,
  &:focus,
  &:hover {
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    color: var(--color-font-base);
    svg {
      fill: var(--color-background-base--inverted);
    }
  }
}

%#{$ns}button--invisible-to-ghost {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-font-base);
  svg {
    fill: var(--color-font-base);
  }
  &:active,
  &:focus,
  &:hover {
    background-color: transparent;
    border-color: var(--color-background-base--inverted);
    border-style: solid;
    color: var(--color-font-base);
    svg {
      fill: var(--color-background-base--inverted);
    }
  }
}

%#{$ns}button--invisible-to-filled {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-font-base);
  svg {
    fill: var(--color-font-base);
  }
  &:active,
  &:focus,
  &:hover {
    background-color: var(--color-background-base--inverted);
    border-color: var(--color-background-base--inverted);
    color: var(--color-font-base--inverted);
    svg {
      fill: var(--color-font-base--inverted);
    }
  }
}

// BUTTON STYLE BASE -------------------------------------------------------- //

%#{$ns}button--ghost {
  background-color: transparent;
  border-color: var(--color-background-base--inverted);
  color: var(--color-font-base);
  transition-duration: var(--animation-timing--default);
  transition-property: background-color, border-color, color;
  svg {
    fill: var(--color-font-base);
    transition-duration: var(--animation-timing--default);
    transition-property: fill;
  }
}

%#{$ns}button--invisible {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-font-base);
  transition-duration: var(--animation-timing--default);
  transition-property: background-color, border-color, color;
  svg {
    fill: var(--color-font-base);
    transition-duration: var(--animation-timing--default);
    transition-property: fill;
  }
}

%#{$ns}button--filled {
  background-color: var(--color-background-base--inverted);
  color: var(--color-font-base--inverted);
  svg {
    fill: var(--color-font-base--inverted);
    transition-duration: var(--animation-timing--default);
    transition-property: fill;
  }
}

// BUTTON STYLE ACTIVE/FOCUS/HOVER ------------------------------------------ //

%#{$ns}button--to-invisible {
  &:active,
  &:focus,
  &:hover {
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    color: var(--color-font-base);
    svg {
      fill: var(--color-background-base--inverted);
      transition-duration: var(--animation-timing--default);
      transition-property: fill;
    }
  }
}

%#{$ns}button--to-ghost {
  &:active,
  &:focus,
  &:hover {
    background-color: transparent;
    border-color: var(--color-background-base--inverted);
    border-style: solid;
    color: var(--color-font-base);
    transition-duration: var(--animation-timing--default);
    transition-property: background-color, border-color, color;
    svg {
      fill: var(--color-background-base--inverted);
      transition-duration: var(--animation-timing--default);
      transition-property: fill;
    }
  }
}

%#{$ns}button--to-filled {
  color: var(--color-font-base);
  &:active,
  &:focus,
  &:hover {
    background-color: var(--color-background-base--inverted);
    border-color: var(--color-background-base--inverted);
    color: var(--color-font-base--inverted);
    transition-duration: var(--animation-timing--default);
    transition-property: background-color, border-color, color;
    svg {
      fill: var(--color-font-base--inverted);
      transition-duration: var(--animation-timing--default);
      transition-property: fill;
    }
  }
}
