// HEADING FONT

%#{$ns}heading-font--base {
  @include fontface__bold;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-transform: uppercase;
}

%#{$ns}heading-font--1 {
  @extend %#{$ns}heading-font--base;
  font-size: ms(5);
  line-height: calc(2.2 * var(--line-height));
}

%#{$ns}heading-font--2 {
  @extend %#{$ns}heading-font--base;
  font-size: ms(4);
  line-height: calc(1.8 * var(--line-height));
}

%#{$ns}heading-font--3 {
  @extend %#{$ns}heading-font--base;
  font-size: ms(3);
  line-height: calc(1.5 * var(--line-height));
}

%#{$ns}heading-font--4 {
  @extend %#{$ns}heading-font--base;
  font-size: ms(2);
  line-height: calc(1 * var(--line-height));
}

//

%#{$ns}heading--base {
  @extend %#{$ns}heading-font--base;
  @extend %#{$ns}heading-layout--base;
}

// HEADING LAYOUT

%#{$ns}heading-layout--base {
  margin-bottom: ms(1);
  padding: 0 ms(1);
}

%#{$ns}heading-layout--2 {
  padding-top: ms(1.5);
}

%#{$ns}heading-layout--3 {
  padding-top: ms(1);
}

%#{$ns}heading-layout--4 {
  padding-top: ms(0.5);
}

// HEADING STYLES

%#{$ns}heading-style--1 {
  @extend %#{$ns}heading--base;
  @extend %#{$ns}heading-layout--base;
  @extend %#{$ns}heading-font--1;
  svg:first-of-type + span,
  span:first-of-type + svg {
    margin-left: ms(0.66);
  }
  svg {
    @include set-icon-dimensions(6);
  }
}

%#{$ns}heading-style--2 {
  @extend %#{$ns}heading--base;
  @extend %#{$ns}heading-layout--2;
  @extend %#{$ns}heading-font--2;
  svg:first-of-type + span,
  span:first-of-type + svg {
    margin-left: ms(0.5);
  }
  svg {
    @include set-icon-dimensions(4.8);
  }
}

%#{$ns}heading-style--3 {
  @extend %#{$ns}heading--base;
  @extend %#{$ns}heading-layout--3;
  @extend %#{$ns}heading-font--3;
  svg:first-of-type + span,
  span:first-of-type + svg {
    margin-left: ms(0.33);
  }
  svg {
    @include set-icon-dimensions(3.7);
  }
}

%#{$ns}heading-style--4 {
  @extend %#{$ns}heading--base;
  @extend %#{$ns}heading-layout--4;
  svg:first-of-type + span,
  span:first-of-type + svg {
    margin-left: ms(0.25);
  }
  svg {
    @include set-icon-dimensions(2.33);
  }
}