.#{$ns}form {
  line-height: var(--line-height);
}

.#{$ns}form__heading {
  @include fontface__bold;
  font-size: ms(3);
  line-height: calc(1.5 * var(--line-height));
  margin-bottom: ms(1);
  text-transform: uppercase;
}

.#{$ns}form__heading--with-legend {
  margin-bottom: ms(0.5);
}

.#{$ns}form__legend {
  @extend %#{$ns}font-size--xs;
  margin-bottom: ms(1);
}

.#{$ns}form__input {
  display: flex;
  margin-bottom: ms(1);
}

.#{$ns}form__input--stacked {
  flex-direction: column;
  .#{$ns}form-input__label {
    margin-bottom: ms(0.5);
  }
  .#{$ns}form-input__field--with-description {
    margin-bottom: ms(0.5);
  }
}

.#{$ns}form-input__field-textarea,
.#{$ns}form-input__field-text,
.#{$ns}form-input__field-select {
  @include fontface__light;
  background-color: transparent;
  border: 1px solid #757579;
  border-radius: ms(0.25);
  font-size: var(--font-size);
  padding: ms(0.5);
  &:focus,
  &:hover,
  &:active {
    background-color: #757579;
    border-bottom: 1px solid transparent;
    color: white;
    outline: transparent;
  }
}

.#{$ns}form-input__heading {
  display: block;
  margin-bottom: ms(0.5);
  text-transform: uppercase;
}

.#{$ns}form-input-text__label,
.#{$ns}form-input-textarea__label,
.#{$ns}form-input-select__label {
  @extend .#{$ns}form-input__heading;
}

.#{$ns}form-input__description {
  @extend %#{$ns}font-size--xs;
  display: block;
}

.#{$ns}form-input__radio {
  align-items: baseline;
  display: flex;
  margin-bottom: ms(0.5);
  width: 100%;
  .#{$ns}form-input__label {
    margin-bottom: 0;
  }
  input {
    margin: 0 ms(0.5);
  }
}

.#{$ns}form-input__checkbox {
  align-items: baseline;
  display: flex;
  margin-bottom: ms(0.5);
  width: 100%;
  .#{$ns}form-input__label {
    margin-bottom: 0;
  }
  input {
    margin: 0 ms(0.5);
  }
}
