.#{$ns}link {
  align-items: center;
  border: 1px solid transparent;
  border-radius: ms(0.25);
  color: var(--color);
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1px 2px;
  text-decoration: underline;
  transition-duration: var(--animation-timing--default);
  transition-property: background-color, color, fill, text-decoration;
  svg:first-of-type + span,
  span:first-of-type + svg {
    margin-left: ms(0.5);
  }
  svg {
    @include set-icon-dimensions(1.8);
    fill: var(--color-background-base--inverted);
    transition-duration: var(--animation-timing--default);
    transition-property: fill;
  }
  &:focus,
  &:hover {
    background-color: var(--color-background-base--inverted);
    color: var(--color-font-base--inverted);
    text-decoration: none;
    transition-duration: var(--animation-timing--default);
    transition-property: background-color, color, fill, text-decoration;
    svg {
      fill: var(--color-background-base);
      transition-duration: var(--animation-timing--default);
      transition-property: fill;
    }
  }
}

.#{$ns}image__interact-button {
  @extend %#{$ns}button--base;
  @extend %#{$ns}button--size-l;
  @extend %#{$ns}button--ghost;
  @extend %#{$ns}button--to-filled;
  background-color: var(--color-background-base);
  svg {
    @include set-icon-dimensions(3);
  }
}

.image {
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    left: ss(0.5);
    position: fixed;
    top: ss(0.5);
    z-index: 999;
    button:not(:last-of-type) {
      margin-right: ss(0.5);
    }
  }
}