$namespace: "" !default;
$ns: $namespace !default;

$master-scale: 8 !default;

$spacing-scale: 8 !default;

// COLORS ------------------------------------------------------------------- //

$color-brightest: #fff !default;
$color-darkest: #1a1a1a !default;
$color-primary: #ff00ff !default;
$color-brightest--inverted: $color-darkest !default;
$color-darkest--inverted: $color-brightest !default;

$color-background-base: $color-brightest !default;
$color-background-base--inverted: $color-darkest !default;
$color-font-base: $color-darkest !default;
$color-font-base--inverted: $color-brightest !default;

$color-scheme-button--filled-to-ghost: (
  "font-before": #{$color-brightest},
  "font-after": #{$color-darkest},
  "body-before": #{$color-darkest},
  "body-after": #{$color-brightest},
  "border-before": #{$color-darkest},
  "border-after": #{$color-darkest},
  "icon-before": #{$color-brightest},
  "icon-after": #{$color-darkest}
);

$color-scheme-button--ghost-to-filled: (
  "font-before": #{$color-darkest},
  "font-after": #{$color-brightest},
  "body-before": transparent,
  "body-after": #{$color-darkest},
  "border-before": #{$color-darkest},
  "border-after": #{$color-darkest},
  "icon-before": #{$color-darkest},
  "icon-after": #{$color-brightest}
);

$color-scheme-button--invisible-to-ghost: (
  "font-before": #{$color-darkest},
  "font-after": inherit,
  "body-before": transparent,
  "body-after": inherit,
  "border-before": transparent,
  "border-after": #{$color-darkest},
  "icon-before": #{$color-darkest},
  "icon-after": inherit
);
